<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Jangan rewrite jika file atau folder yang diminta benar-benar ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite semua request ke index.php
    RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
</IfModule>
